# Start and stop CrashPlan.
alias crashplan-start="sudo launchctl load /Library/LaunchDaemons/com.crashplan.engine.plist"
alias crashplan-stop="sudo launchctl unload /Library/LaunchDaemons/com.crashplan.engine.plist"

# Don't wrap lines by default in less.
alias less="less -S"

# List files colorized in long format.
alias ll="ls -lG"

# List files colorized in column format.
alias ls="ls -G"

# Start an HTTP server on port 3000 in the current directory.
alias serve="thin -R ~/src/scripts/serve.ru start"

# Rsync shortcuts.
alias sync-src-from-ghostwheel="rsync -avzhu --delete-during --executability ghostwheel.local:/Users/rgrove/src/ ~/src/"
alias sync-src-to-ghostwheel="rsync -avzhu --delete-during --executability ~/src/ ghostwheel.local:/Users/rgrove/src/"
alias sync-src-from-nostromo="rsync -avzhu --delete-during --executability nostromo.local:/Users/rgrove/src/ ~/src/"
alias sync-src-to-nostromo="rsync -avzhu --delete-during --executability ~/src/ nostromo.local:/Users/rgrove/src/"
alias sync-src-from-sulaco="rsync -avzhu --delete-during --executability sulaco.local:/Users/rgrove/src/ ~/src/"
alias sync-src-to-sulaco="rsync -avzhu --delete-during --executability ~/src/ sulaco.local:/Users/rgrove/src/"

# Nice WHOIS lookups.
alias whois="whois -h whois-servers.net"

# Rebuild the Launch Services database and get rid of duplicates in the
# "Open With" submenu.
alias fixopenwith='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user'
