# Get detailed info for an HTTP request with Curl.
alias curl-details='curl -s -o /dev/null -w "@$HOME/.curl-format"'

# Rebuild the Launch Services database and get rid of duplicates in the
# "Open With" submenu.
alias fixopenwith='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder'

# Don't wrap lines by default in less.
alias less="less -S"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# List files colorized in long format.
alias ll="ls -al ${colorflag}"

# List files colorized in column format.
alias ls="ls ${colorflag}"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Do what I fucking tell you to, machine.
alias fucking='sudo '

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Lock the screen (when going AFK)
alias lock="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# More useful traceroute.
alias traceroute="traceroute -a -e -q 1 "

# Start an HTTP server on port 3000 in the current directory.
alias serve="http-server -a localhost -p 8000 -c-1"
