export PATH=$HOME/bin:/usr/local/bin:$PATH:$HOME/aws/eb/macosx/python2.7

# Make Sublime Text the default editor.
export EDITOR="subl -w"

# Don't clear the screen after quitting a man page.
export MANPAGER="less -X"

# Highlight section titles in man pages.
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
