[user]
	name = Ryan Grove
	email = ryan@wonko.com

[alias]
    chm = checkout master
    chi = checkout integration
    pum = pull upstream master
    pui = pull upstream integration
    s   = status

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto

[core]
    editor = atom -w
    excludesfile = ~/.gitignore
    quotepath = false

[difftool]
    prompt = false

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[diff]
    tool = Kaleidoscope

[merge]
    renamelimit = 5000
    tool = Kaleidoscope

[mergetool]
	keepBackup = false
    prompt = false

[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[push]
	default = simple
